#root,html,body{
    margin:0;
    padding: 0;
    background:url('./images/back1.jpg');
    
}
#maindiv{
    margin:30px;
    padding: 0;
   
    box-sizing: border-box;
    justify-content: center;
    text-align: left;
    top: 0px;
    float: left;
    width: 30%;
    height: fit-content;
}
.app{
    
    
    justify-content: center;
    text-align: center;
    
}
#buttons{
height: 40px;
width: 100%;
margin-top: 30px;
background-color: coral;
}
#b1{
    height: 25px;
    margin: 7px;
    border-width: 0;
    background-color: coral;
    font-size: 17px;
}
.card{
    margin-top: 0px;
    margin-left: 0px;
    text-align: left;
    float: left;
    
    background-color: cornsilk;
    width: fit-content;
    font-size: 25px;
    height: 100%;
    border-right: .5px solid rgb(219, 183, 183);
}
.list{
    list-style: none;
    width: 200px;
    
}
.listitem{
    border-bottom:.5px solid rgb(219, 183, 183);
    width: 100%;
    margin-left: 0px;
    height: 60px;
    padding: 0;
    background-color: palegoldenrod;
}
.btnexm{
    background-color: lightcoral;
    height: 40px;
    border-width: 0px;
    width: 100%;
    
}
.btndir{
    background-color: lightsalmon;
    height: 30px;
    border-width: 0px;
   margin-right: 5px;
   width: 80px;
    margin-top: 20px;
    border-radius: 2px;
}
.heading1{
    margin-top: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    text-align: right;
    margin-right: 20px;
}
#imgdiv{
    float: left;
    
    width: 30%;
    margin-top: 30px;
    
}